@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: transparent;
    @apply transition-colors duration-300;
}

button {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
}

body {
    overflow-x: hidden;
    height: 100%;
}

input, button, select, textarea {
    font: inherit;
}
