# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/copilot*
/go.imports.xml
/misc.xml
/modules.xml
/ruff.xml
/swift-toolchain.xml
/vcs.xml
/discord.xml
/ntust-pyeng.iml
/git_toolbox_prj.xml
/inspectionProfiles/
